@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
#page1 {
  height: 100vh;
  width: 100%;
  
}

#title {
  font-weight: 800;
  font-size: 1.6rem;          /* Large base size */
  white-space: nowrap;      /* No text wrapping */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;          /* fixed position */
  top: 30%;                 /* Adjusted position */
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5); /* Center + scale */
  padding: 20px;            /* Spacing around text */
  z-index: 9;               /* behind nav but above content */
}

h1 {
  color: aqua;
  font-weight: 800;
  font-size: large;
}

#page2 {
  height: 100vh;
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: center;

}

#cursor{
  height: 20px;
  width: 20px;
  background-color: rgb(255, 215, 0);
  border-radius: 50%;
  position: fixed;
  mix-blend-mode: difference;
}

#string{
  position: fixed;
  top: 40%;                 /* Positioned below the title */
  left: 50%;
  height: 200px;
  width:100%;
  transform: translateX(-50%);
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center ;
}
#string svg{
  padding-left: 30px;
  padding-right: 30px;
}
#links {
  margin-bottom: 110px;
  bottom: 50px;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 15px; /* Vertical spacing between steps */
  height: 200px;
  width: 200px;
  align-self: flex-end;
}

#links h2{
  display: flex;
  white-space: nowrap;
}
#links p{
  margin-top: 35px;
  font-weight: 800;
  margin-left: 20px;
}

